@page "/classes/new"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@using ArtStudioManager.Components.Interfaces;
@using ArtStudioManager.Components.Models;
@using ArtStudioManager.Components.Loaders;
@using ArtStudioManager.Components.Services;
@using ArtStudioManager.Components.Factories;
@using ArtStudioManager.Components.Savers;

<PageTitle>Add New Class</PageTitle>

<h3>Add New Class</h3>

<EditForm Model="@artClass" OnValidSubmit="Save" OnInvalidSubmit="ShowSubmitError">
    <div class="parent-div">
        <div class="child-div" style="width:300px;">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="artClass!.Name" class="form-control"></InputText>
        </div>
        <div class="child-div" style="width:300px;">
            <label for="desc">Description</label>
            <InputText id="desc" @bind-Value="artClass.Description" class="form-control"></InputText>
        </div>
    </div>
    <br />
    <div class="parent-div">
        <div class="child-div" style="width:300px;">
            <label for="dateandtime">Starts</label>
            <InputDate id="dateandtime" Type="InputDateType.DateTimeLocal" @bind-Value="artClass.Start" class="form-control"></InputDate>
        </div>
        <div class="child-div" style="width:300px;">
            <label for="dateandtime">Ends</label>
            <InputDate id="dateandtime" Type="InputDateType.DateTimeLocal" @bind-Value="artClass.End" class="form-control"></InputDate>
        </div>
        <div class="child-div" style="width:300px;">
            <label for="cost">Cost($)</label>
            <InputNumber id="costpercustomer" @bind-Value="artClass.Cost" class="form-control"></InputNumber>
        </div>
        <div class="child-div" style="width:300px;">
            <label for="cost">Member Discount</label>
            <InputNumber id="memberdiscount" @bind-Value="basicFlatRateMemberDiscount" class="form-control"></InputNumber>
        </div>
    </div>
    <br />
    <label class="child-component">Primary Instructor</label>
    <InputSelect @bind-Value="selectedInstructorId" @onchange="HandleSelectionChange">
        @foreach (var instructor in instructors!)
        {
            <option value="@instructor.Id.ToString()">@instructor.Name</option>
        }
    </InputSelect>
    <br /><br />
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    private ArtClass? artClass;
    private string? selectedInstructorId;
    private ICollection<Instructor>? instructors;
    private decimal basicFlatRateMemberDiscount;

    protected override void OnInitialized()
    {
        artClass = ArtClassFactory.Create();
        instructors = InstructorService.GetInstructors(new InstructorsTestCollectionLoader());
        selectedInstructorId = instructors.First().Id.ToString();
    }

    private void HandleSelectionChange(ChangeEventArgs e)
    {
        selectedInstructorId = e.Value!.ToString();
    }

    private async Task Save()
    {
        var primaryInstructor = GetInstructor(selectedInstructorId!);
        primaryInstructor.IsPrimary = true;
        artClass!.Instructors = new List<Instructor>() { primaryInstructor };
        artClass!.MemberDiscount = new FlatRateDiscount(basicFlatRateMemberDiscount);
        var saver = new ArtClassFileSaver(Environment.CurrentDirectory + @"\Files\ArtClasses\");
        await saver.SaveAsync(artClass);
        NavigationManager.NavigateTo("classes");
    }

    private Instructor GetInstructor(string idStr)
    {
        if (instructors == null) { throw new InvalidOperationException("Instuctor list was not created by service correctly."); }

        foreach (var instructor in instructors)
        {
            if (instructor.Id.ToString().Equals(idStr))
            {
                return instructor;
            }
        }

        throw new InvalidOperationException($"Instructor with id {idStr} could not be found.");
    }

    private void ShowSubmitError()
    {

    }
}
