@page "/classes/attendance/{classId:guid?}"
@using Microsoft.AspNetCore.Components.QuickGrid;
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>Class Attendance</PageTitle>

<h3>Class Attendance</h3>

@if (artClass == null) { throw new InvalidOperationException("Art Class could not be initialized."); }

<QuickGrid Items="@queryableAttendance">
    <PropertyColumn Property="@(p => p.Artist!.Name)" Sortable="true" Title="Attendee Name" />
    <TemplateColumn Title="Attended">
        <input type="checkbox" @bind="context.Attended" />
    </TemplateColumn>
</QuickGrid>
<br />
<button class="btn btn-primary" @onclick="@(() => Save())">Save</button>

@code {
    private ArtClass? artClass;
    private IQueryable<AttendanceMark>? queryableAttendance;

    [Parameter]
    public Guid ClassId { get; set; }

    protected override void OnInitialized()
    {
        artClass = new ArtClass(ClassId, new ArtClassTestDataLoader());

        if (artClass.Attendance is Attendance attendance)
        {
            queryableAttendance = attendance.AttendanceRecord.AsQueryable<AttendanceMark>();
        }
    }

    private void Save()
    {
        artClass!.SaveAttendance();
    }
}
