@page "/classes/attendance/{classId:guid?}"
@rendermode @(new InteractiveServerRenderMode(prerender:false))
@using Microsoft.AspNetCore.Components.QuickGrid;
@using ArtStudioManager.Components.Interfaces;
@using ArtStudioManager.Components.Models;
@using ArtStudioManager.Components.Loaders;
@using ArtStudioManager.Components.Services;
@using ArtStudioManager.Components.Factories;

<PageTitle>Class Attendance</PageTitle>

<h3>Class Attendance</h3>

@if (artClass == null) { throw new InvalidOperationException("Art Class could not be initialized."); }

<QuickGrid Items="@queryableAttendance">
    <PropertyColumn Property="@(p => p.Artist!.Name)" Sortable="true" Title="Attendee Name" />
    <TemplateColumn Title="Attended">
        <input type="checkbox" @bind="context.Attended" />
    </TemplateColumn>
</QuickGrid>
<br />
<button class="btn btn-primary" @onclick="@(() => Save())">Save</button>

@code {
    private ArtClass? artClass;
    private IQueryable<Attendance>? queryableAttendance;

    [Parameter]
    public Guid ClassId { get; set; }

    protected override void OnInitialized()
    {
        artClass = ArtClassFactory.Create(ClassId, new ArtClassFileLoader(Environment.CurrentDirectory + @"\Files\ArtClasses\"));

        if (artClass.Attendance is AttendanceRecord attendance)
        {
            queryableAttendance = attendance.Attendances.AsQueryable<Attendance>();
        }
    }

    private void Save()
    {
        artClass!.SaveAttendance();
    }
}
