@page "/classes/{classId:guid?}/edit-materials"
@rendermode InteractiveServer
@using ArtStudioManager.Components.Interfaces;
@using ArtStudioManager.Components.Models;
@using ArtStudioManager.Components.Loaders;
@using ArtStudioManager.Components.Services;

<PageTitle>Edit Class Materials</PageTitle>

<h3>Edit Class Materials</h3>

@code {
    private ArtClass? artClass;

    [Parameter]
    public Guid ClassId { get; set; }

    protected override void OnInitialized()
    {
        artClass = new ArtClass(ClassId, new ArtClassFileLoader());
    }
}