@page "/classes/{classId:guid?}/edit-instructors"
@rendermode InteractiveServer
@using ArtStudioManager.Components.Interfaces;
@using ArtStudioManager.Components.Models;
@using ArtStudioManager.Components.Loaders;
@using ArtStudioManager.Components.Services;
@using ArtStudioManager.Components.Factories;

<PageTitle>Edit Class Intructors</PageTitle>

<h3>Edit Class Intructors</h3>

@code {
    private ArtClass? artClass;

    [Parameter]
    public Guid ClassId { get; set; }

    protected override void OnInitialized()
    {
        artClass = ArtClassFactory.Create(ClassId, new ArtClassFileLoader(Environment.CurrentDirectory + @"\Files\ArtClasses\"));
    }
}
