@page "/facebook"
@rendermode InteractiveServer

<PageTitle>Facebook</PageTitle>

<h3 style="color: purple;">Facebook</h3>

<div class="parent-div">
    <div class="child-div" style="width:300px;">
        <label for="name">Title</label>
        <input type="text" @bind="post!.Title" class="form-control"></input>
    </div>
    <div class="child-div" style="width:300px;">
        <label for="textarea">Body</label>
        <textarea id="textarea" @bind="post!.Body" rows="10" cols="100"></textarea>
    </div>

    <InputFile OnChange="@LoadPics" multiple />
</div>

@code {
    private long maxFileSize = 1024 * 1024 * 10; // 10MB max pic size
    private int maxPicsAllowed = 5;
    private FacebookPost? post;

    protected override void OnInitialized()
    {
        post = new FacebookPost();
    }

    private async Task LoadPics(InputFileChangeEventArgs e)
    {
        if (e.FileCount > maxPicsAllowed) { throw new InvalidOperationException($"Max number of pics is {maxPicsAllowed}"); }

        post!.ImageFiles = new List<string>();

        foreach (var file in e.GetMultipleFiles())
        {
            post.ImageFiles.Add(file.Name);
        }
    }

    private void PostToFacebook()
    {

    }
}
