@page "/"
@*layout Layout.MainLayout --> could add specific layout to this page*@

<PageTitle>Home Page</PageTitle>

<h2 style="color: purple;">Borealis Art Guild</h2>

@if (imageSource != null)
{
    <p>
        <img src="@imageSource" />
    </p>
}

<h3 style="color: purple;">@timeOfDayMessage</h3>

@code {
    private string? imageSource;
    private string timeOfDayMessage = "";

    protected override void OnInitialized()
    {
        imageSource = "images/art-home.jpg";
        SetTimeOfDayMessage();
    }

    private void SetTimeOfDayMessage()
    {
        var currentLocalDateTimeHour = DateTime.Now.ToLocalTime().Hour;

        if (currentLocalDateTimeHour < 12)
        {
            timeOfDayMessage = "Good morning!";
        }
        else if (currentLocalDateTimeHour > 17)
        {
            timeOfDayMessage = "Good evening!";
        }
        else
        {
            timeOfDayMessage = "Good afternoon!";
        }
    }
}