@page "/"

<PageTitle>Home Page</PageTitle>

<h1>Add the date and who is logged in. <br> Did that add a return?</h1>
What other info can we show here?
<p>for adding as space &nbsp;</p>

@{
    var amount = 1 + 1;
}

<Counter IncrementAmount="amount"/>
<p>&nbsp;</p>

<Weather />