@page "/classes/{classId:guid?}"
@rendermode InteractiveServer

<h3>Class</h3>

@if (artClass == null) { throw new InvalidOperationException("Art Class could not be initialized."); }

<div class="mt-3">
    <p>Instructor(s)</p>
    
    @if (artClass.Instructors != null && artClass.Instructors.Count > 0)
    {
        <ul>
            @foreach (var instructor in artClass.Instructors)
            {
                <li>@instructor.Name</li>
            }
        </ul>
    }
</div>

<div class="mt-3">
    <p>Members</p>

    @if (artClass.Members != null && artClass.Members.Count > 0)
    {
        <ul>
            @foreach (var member in artClass.Members)
            {
                <li>@member.Name</li>
            }
        </ul>
    }
</div>

<div class="mt-3">
    <p>Customers</p>

    @if (artClass.Customers != null && artClass.Customers.Count > 0)
    {
        <ul>
            @foreach (var customer in artClass.Customers)
            {
                <li>@customer.Name</li>
            }
        </ul>
    }
</div>

@code {
    private ArtClass? artClass;

    [Parameter]
    public Guid ClassId { get; set; }

    protected override void OnInitialized()
    {
       // artClass = new ArtClass(ClassId);
    }
}
